table, th, td {
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}

table {
    width: 60%;
    border: 3px solid black;
    margin-left:auto; 
    margin-right:auto;
}

th {
    background-color:orangered;
    border: 3px solid black;
}

td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

body {
    background-image: url("http://3.bp.blogspot.com/--VUD7oKAOgg/Uh9z-0Sy4zI/AAAAAAAAFlk/4NcDlyxry4Q/s1600/Background-Images-Free7.jpg");
}

h1 {
    text-align: center;
    font-size: 75px;
    padding-top: 15px;
    font-family: Impact, Charcoal, sans-serif;
}

form {
    text-align: center;
}

input {
    font-size: 20px
}